.searchBar {
    margin: auto;
    width: 80%;
    text-align: center;
}

.searchTypography {
    margin: auto;
    padding: 20px 10px 0px 10px;
}

.searchForm {
    margin: auto;
    width: 50%;
    padding: 20px 30px 30px 30px;
}